
h2{
  
  color:#FA8072;
  font-size: x-large;
  margin: 20px;
  padding: 1%;
}
body {
  background-color: lightblue;
  }
  

button {
  background-color: #FA8072;
  border: 4px;
  color:white;
  margin: 35px;

  
  
 }

div{
  margin: 20px;
  padding: 1%;
}

table{
  border-collapse: collapse;
  padding:10px;
  width:100%;
  

  }
th{
  height:35px;
	text-align:left;
	vertical-align: top;
	background-color: #FA8072;
  color:white;
}

th,td{
  padding:10px;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
  background-color: #f2f2f2;

}
tr:hover{
  background-color: #c2cbbd;
}

