
h2{
  
  color:#CD001A;
  font-size: x-large;
 padding: 5px;
}
body {
  background-color: #a3c8ae;
  }
  
  button {
  background-color: #FA8072;
  border: 1px;
  color:white;
  margin: 3px;
  }

div{
 padding: 5px;
  }

table{
  border-collapse: collapse;
  padding:10px;
  width:100%;
  }

th{
  height:35px;
	text-align:left;
	vertical-align: top;
	background-color: white;
  color:#CD001A;
}

th,td{
  padding:10px;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
  background-color: #f2f2f2;

}
tr:hover{
  background-color: #c2cbbd;
}

